[Unit]
Description=Bulls and Cows Game

[Service]
Type=simple
User=hw06
Group=hw06
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4792"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/hw06/cs4550-hw06
ExecStart=/home/hw06/cs4550-hw06/start.sh

[Install]
WantedBy=multi-user.target